@import "tailwindcss";

:root {
  color-scheme: light;
  font-family:
    Arial,
    "Apple SD Gothic Neo",
    "Malgun Gothic",
    sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
